!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta nometa
  body
    // header div
    div#hdr(align="center")
      ul#top-nav
        li
          a(href="/") Home
        li 
          a(href="/") Politicians
        li 
          a(href="/") People
    // center column
    div#c-block
    div#c-col
      p#body!= body
      p(lang="ga")
        a(href="http://github.com/visionmedia") Whistle running Jade/Stylus 
        |  Ocus adfeta don mac sin scéla na maceáem &amp;

    // end of center column
    // end c-block
    
    // left column
    div#lh-col
      div.lh-block
        h4(align="center") Log in / Register
        p.small Login or Register to personalise!
        form#loginform(action='/login', method='POST', enctype='multipart/form-data')
          p#login!= login_form
          input.btn#login_btn(type='submit', value='Login')
      - if (typeof(reg_form) !== 'undefined') 
        div.lh-block
          h4(align='center') Register
          form#loginform(action='/register', method='POST', enctype='multipart/form-data')
            p#login!= reg_form
            input.btn#login_btn(type='submit', value='Register')

    // end of left column
    // right column
    div#rh-col
      div.lh-block
        h4(align="center")
          | Recent Updates
        p
          | Twitter, Fb, Blog & News updates go here...
        div
     // end of right column
    
  
    div#ftr(align="center")
      ul#ftr-nav
        li
          a(href="#") &copy; Whistle 2010 - 2011 
        li
          a(href="#") About Us
        li 
          a(href="#") Privacy
        li 
          a(href="#") Terms
        li 
          a(href="#") Help
        li 
          a(href="#") Contact Us
        li 
          a(href="#") Sitemap
      // center column
