!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta nometa
  body
    // header div
    div#hdr(align="center")
      ul#top-nav
        li
          a(href="/") Home
        li 
          a(href="/") Politicians
        li 
          a(href="/") People
    // center column
    div#c-block
    div#c-col
      p#body!= body
      p(lang="ga")
        a(href="http://github.com/visionmedia") Whistle running Jade/Stylus 
        |  Ocus adfeta don mac sin scéla na maceáem &amp; na maccraide i n-Emain, &amp; radis in mac bec ria mathair ar co n-digsed dá chluchi do chluchemaig na Emna. Romoch duitsiu sain a meic bic, ar a mathair, co n-deoch anruth do anrothaib. Ulad lett no choimthecht ecin do chaimthechtaib Conchobair, do chor th' aesma &amp; t'imdegla for in maccraid. Cían lim-sa di sodain a mathair, ar in mac bec, &amp; ni biu-sa oca idnaide acht tecoisc-siu dam-sa cia airm itá Emain. Is cían uait, ar a mathair, airm in-das-fil. Sliab Fúait etrut &amp; Emain. Dobér-sa ardmes furri amne, ar esium

    // end of center column
    // end c-block
    
    // left column
    div#lh-col
      div.lh-block
        h4(align="center")
          | Log in / Register
        form#loginform(action='/photos', method='POST', enctype='multipart/form-data')
          p#login!= login
          input#btn(type='submit', value='login')
        p.small Login or Register to personalise!

    // end of left column
    // right column
    div#rh-col
      div.lh-block
        h4(align="center")
          | Recent Updates
        p
          | Twitter, Fb, Blog & News updates go here...
        div
     // end of right column
    
  
    div#ftr(align="center")
      ul#ftr-nav
        li
          a(href="#") &copy; Whistle 2010 - 2011 
        li
          a(href="#") About Us
        li 
          a(href="#") Privacy
        li 
          a(href="#") Terms
        li 
          a(href="#") Help
        li 
          a(href="#") Contact Us
        li 
          a(href="#") Sitemap
      // center column
